__pycache__/
.ipynb_checkpoints/
.venv/
venv/
env/
.env
.DS_Store
*.log
/.bash_history
/.bash_logout
/.bashrc
/.cache
/.motd_shown
/.profile
/.sudo_as_admin_successful
/.vscode-server
run.pid
submission*.csv
metrics.json
*.cbm
catboost_info/
phems_outputs/
*_preprocessed.csv
*_w_features_FINAL.csv
